// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.remove-active-effect:active {
    background-color: transparent;
    color: initial;
}

.remove-floating-transition {
    transition: none !important;
}